.form-body {
	background-color: white;
	margin: 40px;
	padding: 30px;
	border-radius: 7px;
}

.topbar {
	margin: 40px;
}

body {
    background-color: var(--dark-purple) !important;

}

/*
.white {
	color: white;
}*/

#cloak-btn {
	color:white;
	background-color: var(--bright-purple);
	transition: background-color 0.2s ease-out;
	margin-top: 10px;
}

#cloak-btn:hover {
	background-color: var(--dark-purple);
	transition: background-color 0.2s ease-out;
}

.cloak-input:focus {
	border-color: rgba(102, 45, 145,.2) !important;
	box-shadow: 0 0 0 0.2rem rgba(102, 45, 145,0.2) !important;
}

.cloak-label {
	margin: 0;
	margin-bottom: 0;
	font-size: 1.2rem;
}

small.form-text.text-muted {
	margin: 0;
	margin-top: 3px;
}

.cloak-input {
	margin: 10px 0;
}

.form-group:not(*:first-of-type) {
	margin-top:25px;
}

select option {
	display: inline;
}

select {
	display: inline !important;
}

/*.cloak-input >option:checked,*/
/*
.cloak-input > option:hover,
.cloak-input >option:focus,
.cloak-input >option:active {
	background-color: var(--bright-purple) !important;
	background: var(--bright-purple) !important;
	outline-color: var(--bright-purple) !important;
	color:white !important;
	box-shadow: 0 0 10px 100px var(--bright-purple) inset;
}
*/

*::-moz-selection,
*::selection {
	background-color: rgba(102, 45, 145,0.75) !important;
	color:white;
}