@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* colour variables */
:root {
	--dark-gray: #231E23;
	--yello: #FFF9C9;
	--bright-purple: #662D91;
	--mid-purple: #34004A;
	--dark-purple: #21002A;
    --red-purple: #35003F;
}

a{
    text-decoration: none;
}

hr.hiw{
    margin: 0px 70px !important;
    border-width: 4px;
    border-color: #F5F5F5;
}

html{
    overflow-x: hidden !important;
}

.bod{
    background-color: var(--mid-purple);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden !important;
}

.topbar {
	font-family: 'Open Sans', sans-serif;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 25px;
}

.sect {
	width: 100%;
	display: inline-flex;
}

.logo-cntr {
	height: 300px;
	display: inherit;
	width: 100%;
}

.land {
    margin-bottom: 150px;
}

.land .bkgd {
    max-height: 525px;
    min-width: 100%;
    position: absolute;
    z-index: -10;
    top: 40px;
    left: -9999px;
    right: -9999px;
    margin:auto;
}

.logo {
	height: 50px;
	width: 70px;
}

.logo-text {
	align-self: center;
	align-content: center;
	margin: auto;
	height: 100px;
	display:inherit;
	z-index: 10;
}

.login {
    text-decoration: none;
    
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color: var(--bright-purple);
	align-items: center;
	display:inline-block;
	position:relative;
	text-decoration-line: none;
	padding: 5px;
}

a.login:before {
    text-decoration: none;
    
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--bright-purple);
	visibility: hidden;
	transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

a.login:hover:before {
    text-decoration: none;
    background-color: var(--bright-purple);
    
	visibility: visible;
	transform: scaleX(1);
}

a.login:link, a.login:visited, a.login:hover, a.login:active { text-decoration: none; color: var(--bright-purple); }

.no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/*.tagline{*/
/*    overflow: hidden;*/
/*}*/

.whit{
    background-color: #FFF;
    height: 525px;
    min-width: 100%;
    position: absolute;
    z-index: -3;
    
    margin-top:0px;
}

.tagline {
    margin: auto;
}

.backg-image, .outline-image {
    position: absolute;
    left: -9999px;
    right: -9999px;
    
    max-height: 525px;
    min-width: 100%;
    margin-top: 15px;
}

.tagline .backg-image{
    z-index: -2;
    opacity: 0.15;
}

.tagline .outline-image{
    z-index: -1;
}

.tagline .tag{
    z-index: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--bright-purple);
    font-size: 3vw;
}
    
.tagline-div {
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    padding-top: 250px;
}




.features{
    position: absolute;
    margin-top: 525px;
    left: 0px;
    width: 100%;
    height: 700px;
    background-color: var(--red-purple);
    margin-bottom: 10px;
}

.features .thumbnail-par{
    width: 50vw;
    padding: 50px;
    padding-top: 80px;
/*    */
/*    display: inline-flex;*/
/*    flex-direction: row-reverse;*/
}

.features .thumbnail{
    max-height: 300px;
    width: auto;
    max-width: 40vw;
}

.features .txt{
    max-width: 50vw;
}

.features .catchline{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
   
    color: #FFF;
    font-size: 3.5vw;
    text-align: left;
    
    padding-left: 20px;
    padding-right: 80px;
    margin-top: 90px;
}

.features .smol-line{
    width: 60px;
    height: 6px;
    background-color: var(--yello);
    margin-left: 20px;
    margin-bottom: 6px;
}

.features .descrip{
    font-family: 'Roboto', sans-serif;
    
    color: var(--yello);
    width: 100%;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}




.howitworks{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 1520px;
    font-weight: 200;
    width: 100%;
/*    height: 850px;*/
    background-color: white;
    color: var(--yello);
}

.howitworks .headerText{
    font-family: 'Open Sans', sans-serif;
    margin-top: 70px;
    margin-left: 70px;
    font-weight: 700;
    font-size: 5vw;
    color: var(--mid-purple);
}

.howitworks .sec{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.howitworks .txt{
    max-width: 50vw;
    margin-top: 4.5vw;
    margin-left: 50px;
    color: #777;
    text-align: right;
}

.howitworks .txt-inv{
    max-width: 50vw;
    margin-top: 4.5vw;
    margin-right: 50px;
    color: #777;
    text-align: left;
}

.howitworks .thumbn{
    max-width: 40vw;
    max-height: 40vh;
    margin-left: 40px;
    margin-right: 40px;
}






.footernotes{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100px;
    background-color: var(--yello);
    z-index: 50;
}

.footernotes .notice{
    text-align: center;
    margin-top: 38px;
    padding-top: 38px;
    color: #555;
    width: 83vw;
    font-weight: 100;
    
    text-decoration: none;
}

.footernotes .githublogo{
    opacity: 0.70;
    position: absolute;
    margin-top: -30px;
    right: 10vw;
    width: 40px;
    height: 40px;
    filter: opacity(75%);
    transition: filter 0.5s ease-out;
}

.footernotes .githublogo:hover {
    filter: opacity(1);
    transition: filter 0.5s ease-out;
}

.bold-link{
    text-decoration: none;
    color: var(--bright-purple);
    font-weight: 700;
}

.bold-link:hover{
    color: var(--dark-purple);
}

.cloud {
    position: absolute;
    height: 100vh;
    animation-duration: 2.5s;
    width: 100vw;
    top: 0px;
}

.topCloud{
    z-index: 100;
    left: 100vw;
    animation-name: topC;
}

.botCloud{
    z-index: 99;
    right: 100vw;
    animation-name: botC;
}

@keyframes topC {
    from {
        left: 0px;
    }
    15% {
        left: 0px;
    }
    to {
        left: 100vw;
    }
}

@keyframes botC {
    from {
        right: 0px;
    }
    35% {
        right: 0px;
    }
    to {
        right: 100vw;
    }
}
