{% extends "fill-base.html" %}

{% block body %}
<div class="form-body container">
    <h1>{{ form.name }}</h1>
    {% if form.description %}
        <p>{{ form.description }}</p>
    {% endif %}
    <hr>
    <form action="{% url 'submit' form.uuid form.form_id %}" method="post"> 
    {% csrf_token %}
    {% if form.fields %}
        {% for field in form.fields.all %}
            <div class="form-group">
                <label class="cloak-label" for="{{ field.pk }}">{{ field.question }}</label>
                {% if field.description %} 
                    <small class="form-text text-muted">{{ field.description }}</small>
                {% endif %}

                {% if field.input_type == 'S' %}
                    {% if field.is_required %}
                        <input type="text" class="form-control cloak-input" name="{{ field.pk }}" maxlength="8191" required>
                    {% else %}
                        <input type="text" class="form-control cloak-input" name="{{ field.pk }}" maxlength="8191">
                    {% endif %}
                {% elif field.input_type == 'L' %}
                    {% if field.is_required %}
                        <textarea class="form-control cloak-input" name="{{ field.pk }}" rows="3" maxlength="8191" required></textarea>
                    {% else %}
                        <textarea class="form-control cloak-input" name="{{ field.pk }}" rows="3" maxlength="8191"></textarea>
                    {% endif %}
                {% elif field.input_type == 'M' %}
                    {% if field.is_required %}
                        <select class="form-control cloak-input" name="{{ field.pk }}" required>
                    {% else %}
                        <select class="form-control cloak-input" name="{{ field.pk }}">
                    {% endif %}
                        {% for opt in field.get_choices %}
                        <option value="{{ opt }}">{{ opt }}</option>
                        {% endfor %}
                    </select>                
                {% elif field.input_type == 'N' %}
                    {% if field.is_required %}
                        <input type="number" class="form-control cloak-input" name="{{ field.pk }}" max="1000000" min="-1000000" required>
                    {% else %}
                        <input type="number" class="form-control cloak-input" name="{{ field.pk }}" max="1000000" min="-1000000" >
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    <input type="submit" class="btn" id="cloak-btn">
    </form>
</div>

{% endblock %}
