{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<link rel="icon" type="image/png" href="{% static 'img/cloak-favicon.png' %}">
</head>
<body>
<header>
	<img class="logo" src="{% static 'img/cloakLogo.png' %}" />
	<a class="login" href="{% url 'admin:index' %}">LOGIN</a> 
	<!-- src -->
</header>
<section class="land">
	<img class="bkgd" src="{% static 'img/cloudPattern.png' %}" />
	<div class="logo-cntr">
		<img class="logo-text" src="{% static 'img/cloak-words.png' %}" />
	</div>
</section>

</body>
</html>