{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Cloak | Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="{% static 'img/cloak-favicon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="bod no-select">
    <div class="topbar">
        <img class="logo no-select" src="{% static 'img/cloakLogo.png' %}" draggable="false">
        <a class="login no-select" href="{% url 'admin:index' %}">LOGIN</a>
    </div>
    
    <div class="sect land">
        <img class="bkgd no-select" src="{% static 'img/cloudPattern.png' %}" draggable="false">
        <div class="logo-cntr">
            <img class="logo-text no-select" src="{% static 'img/cloak-words.png' %}" draggable="false"/>
        </div>
    </div>
    
    <img class="cloud topCloud" src="{% static 'img/topClouds.png' %}" draggable="false">
    <img class="cloud botCloud" src="{% static 'img/botClouds.png' %}" draggable="false">

    <div class="sect tagline">
        <img class="backg-image" src="{% static 'img/test.png' %}" draggable="false">
        <img class="outline-image" src="{% static 'img/cloak-outline.png' %}" draggable="false">
        <div class="tagline-div">
            <p class="tag">AN APPLICATION PLATFORM THAT REMOVES</p>
            <p class="tag">BIAS FROM THE EQUATION</p>
        </div>
        <div class="whit"></div>
    </div>
    
    <div class="sect features">
        <div class="thumbnail-par"><img class="thumbnail" src="{% static 'img/test.png' %}" draggable="false"></img></div>
        <div class="txt">
            <p class="catchline"> Powerful tools, at your service</p>
            <div class="smol-line"></div>
            <p class="descrip">TextRank NLP-powered summarization, flexible APIs, and custom form options help you find the perfect hire!</p>
        </div>
    </div>
    
    <div class="howitworks">
        <p class="headerText">How it works</p>
        <hr class="hiw">
        <div class="sec">
            <p class="txt">The core functionality of Cloak resides in the Django open source Python web framework. It allows us to create flexible models, stored in a PostgreSQL database, without writing a single line of SQL. Through Django's admin pages, Cloak hides all personally identifiable information to remove potential bias from applications.</p>
            <img class="thumbn" src="{% static 'img/codeReview.png' %}" draggable="false"></img>
        </div>
<!--        <hr>-->
        <div class="sec">
            <img class="thumbn" src="{% static 'img/serverCluster.png' %}" draggable="false"></img>
            <p class="txt-inv">Cloak is hosted on a dedicated server running an Nginx reverse proxy. Our fabulous domain name is provided by Namecheap with DigitalOcean acting as a nameserver and host. All traffic is secured through LetsEncrypt SSL certificates ensuring that your private data is safe.</p>
        </div>
        
        <div class="footernotes">
                <span class="notice">
                    Created by
                    <a class="bold-link" href="https://github.com/TheAvidDev">TheAvidDev</a>,
                    <a class="bold-link" href="https://github.com/dulldesk">dulldesk</a>, and
                    <a class="bold-link" href="https://github.com/skyflaren">skyflaren</a> during MasseyHacks2020
                </span>
            <a href="https://github.com/TheAvidDev/cloak"><img class="githublogo" src="{% static 'img/github.png' %}" draggable="false"></a>
        </div>
    </div>
</body>
</html>
