{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ form.name }} | Cloak</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/form-fill.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="{% static 'img/cloak-favicon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="topbar">
    <a href="{% url 'index' %}"><img class="logo no-select" src="{% static 'img/cloakLogo.png' %}" draggable="false"/></a>
    <!-- <span class="login no-select white">CLOAK</span>  -->
</div>
<div class="form-body container">
    <h1>{{ form_name }}</h1>
    <hr>
    <p>Submitted! You may close this tab.</p>
</div>
</body>
</html>